@page "/"
@page "/sentence-completion"
@using Sentences.Model
@using Sentences.Services
@inject SentenceStemService SentenceStemService

<div style="display: flex;">
    <div style="display:flex; align-items: center; padding-right: 1rem;">
        @nextSentenceStem?.Text
    </div>
    <form name="sentenceEnding" @onsubmit="SubmitSentence">
        <input
            type="text"
            @bind="sentenceEnding"
            maxlength="5000"
            placeholder="Schrijf hier het allereerste wat in je opkomt..."
            required="required" pattern=".+" />
        <input type="submit" hidden />
    </form>
</div>

@code {
    private SentenceStem? nextSentenceStem;
    private string sentenceEnding = "";

    protected override async Task OnInitializedAsync()
    {
        await LoadNextSentenceStem();
    }

    private async Task SubmitSentence()
    {
        var fullSentence = new SentenceSubmissionDto(nextSentenceStem, sentenceEnding);
        await SentenceStemService.PersistFormedSentenceAsync(fullSentence);
        await LoadNextSentenceStem();
    }

    private async Task LoadNextSentenceStem()
    {
        nextSentenceStem = await SentenceStemService.GetNextSentenceStemAsync();
        sentenceEnding = "";
    }
}
