@page "/"
@page "/sentence-completion"
@using SentenceCompletionApp.Data
@inject SentenceStemService SentenceStemService

<PageTitle>Sentence Completion</PageTitle>

<h3>Sentence Completion</h3>

<div style="display: flex;">
    <div style="display:flex; align-items: center; padding-right: 1rem;">
        @nextSentenceStem?.Text
    </div>
    <form name="sentenceEnding" @onsubmit="SubmitSentence">
        <input
            type="text"
            @bind="sentenceEnding"
            maxlength="5000"
            placeholder="Schrijf hier het allereerste wat in je opkomt..." />
        <input type="submit" hidden />
    </form>
</div>

@code {
    private SentenceStem? nextSentenceStem;
    private string sentenceEnding = "";

    protected override async Task OnInitializedAsync()
    {
        await LoadNextSentenceStem();
    }

    private async Task SubmitSentence()
    {
        var fullSentence = new SentenceSubmission(nextSentenceStem, sentenceEnding);
        await SentenceStemService.PersistUserInputAsync(fullSentence);
        await LoadNextSentenceStem();
    }

    private async Task LoadNextSentenceStem()
    {
        nextSentenceStem = await SentenceStemService.GetNextSentenceStemAsync();
        sentenceEnding = "";
    }
}
