@inherits LayoutComponentBase

<PageTitle>Zinnen</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main-container">
        <div class="content take-space px-4">
            @Body
        </div>
    </main>
</div>
