<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/278046ac-a50c-49c6-a6a6-79129028b817/resourceGroups/acrgroup/providers/Microsoft.ContainerRegistry/registries/sdobbv</ResourceId>
    <ResourceName>sdobbv</ResourceName>
    <ResourceGroup>acrgroup</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://sdobbv.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b2ab52da-8335-406a-be7f-876fcf089f23</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>